<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EllipseCreateJournalExcelAddIn.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EllipseProdConnectionString" connectionString="DSN=EL8PROD;UID=sigcon;PWD=ventyx"
         providerName="System.Data.Odbc" />
    <add name="EllipseTestConnectionString" connectionString="DSN=EL8TEST;UID=sigcon;PWD=ventyx"
         providerName="System.Data.Odbc" />
    <add name="EllipseDesaConnectionString" connectionString="DSN=EL8DESA;UID=sigcon;PWD=ventyx"
         providerName="System.Data.Odbc" />
    <add name="EllipseCtgConnectionString" connectionString="DSN=EL8PROD;UID=sigcon;PWD=ventyx"
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <applicationSettings>
    <EllipseCreateJournalExcelAddIn.Properties.Settings>
      <setting name="DstrDefault" serializeAs="String">
        <value>ICOR</value>
      </setting>
      <setting name="UserDefault" serializeAs="String">
        <value>WTERAN</value>
      </setting>
      <setting name="PosDefault" serializeAs="String">
        <value>COCT0</value>
      </setting>
      <setting name="EllipseDirectory" serializeAs="String">
        <value>C:\EllipsePopups\Ellipse8\EllipseConfiguration.xml</value>
      </setting>
      <setting name="EnvDefault" serializeAs="String">
        <value>Productivo</value>
      </setting>
    </EllipseCreateJournalExcelAddIn.Properties.Settings>
  </applicationSettings>
  <startup />
</configuration>