<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EllipseWorkOrdersClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="System.Web.Services.Ellipse.AuthenticationExtension, System.Web.Services.Ellipse" priority="1" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="C:\oracle\product\11.2.0\client\network\ADMIN" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EllipseWorkOrdersClassLibrary.Properties.Settings>
      <setting name="EllipseWorkOrdersClassLibrary_WorkOrderService_WorkOrderService" serializeAs="String">
        <value>http://ews-el8test.lmnerp03.cerrejon.com/ews/services/WorkOrderService</value>
      </setting>
      <setting name="EllipseWorkOrdersClassLibrary_WorkOrderTaskService_WorkOrderTaskService" serializeAs="String">
        <value>http://ews-el8test.lmnerp03.cerrejon.com/ews/services/WorkOrderTaskService</value>
      </setting>
      <setting name="EllipseWorkOrdersClassLibrary_ResourceReqmntsService_ResourceReqmntsService" serializeAs="String">
        <value>http://ews-el8test.lmnerp03.cerrejon.com/ews/services/ResourceReqmntsService</value>
      </setting>
      <setting name="EllipseWorkOrdersClassLibrary_EquipmentReqmntsService_EquipmentReqmntsService" serializeAs="String">
        <value>http://ews-el8test.lmnerp03.cerrejon.com/ews/services/EquipmentReqmntsService</value>
      </setting>
      <setting name="EllipseWorkOrdersClassLibrary_MaterialReqmntsService_MaterialReqmntsService" serializeAs="String">
        <value>http://ews-el8test.lmnerp03.cerrejon.com/ews/services/MaterialReqmntsService</value>
      </setting>
    </EllipseWorkOrdersClassLibrary.Properties.Settings>
  </applicationSettings>
</configuration>