<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserDefault" value=""/>
    <add key="DstrDefault" value="ICOR"/>
    <add key="PosDefault" value=""/>
    <add key="EllipseDirectory" value="W:\EllipsePopups\Ellipse8\EllipseConfiguration.xml"/>
    <add key="EllipseDSProd" value="DSN=EL8PROD;UID=sigcon;PWD=ventyx"/>
    <add key="EllipseDSTest" value="DSN=EL8TEST;UID=sigcon;PWD=ventyx"/>
    <add key="EllipseDSDesa" value="DSN=EL8DESA;UID=sigcon;PWD=ventyx"/>
  </appSettings>
</configuration>