<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EllipseScreenLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Ellipse.Screen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="System.Web.Services.Ellipse.AuthenticationExtension, System.Web.Services.Ellipse" priority="1"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <settings>
      <servicePointManager expect100Continue='false' />
    </settings>
  </system.net>
    
  <applicationSettings>
    <EllipseScreenLibrary.Properties.Settings>
      <setting name="EllipseScreenLibrary_ScreenService_ScreenService"
        serializeAs="String">
        <value>http://ellipse-eamprd.lmnerp01.cerrejon.com/ews/services/ScreenService</value>
      </setting>
    </EllipseScreenLibrary.Properties.Settings>
  </applicationSettings>
</configuration>