<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="SharedClassLibrary.Cority.WebServiceExtension, SharedClassLibrary.Cority" priority="1"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>